</div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
  <div class="container-fluid" id="footerColumns">
    <hr>

      <div class="col-md-4" style="font-size:16px;">
          <p>JITZ</p>
          <p style="color:#CFB055;">123 N Main St,</p>
          <p style="color:#CFB055;">Mission, TX 78572</p>
          <p style="color:#CFB055;">956.555.5555</p>
      </div>


  		<div class="col-md-4">
        <div id="footerButtons">
          <a href="https://www.facebook.com/jitterzcoffeebar/"> <i class="fa fa-facebook">  </i></a>
          <a href="https://twitter.com/JitterzCoffee"> <i class="fa fa-twitter">   </i></a>
          <a href="https://www.instagram.com/jitterzcoffeebar/"> <i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="col-md-4" style="font-size:16px;">
  			<ul class="list-unstyled" id="footerList">
          <p>MORE INFO</p>
          <p><a href="/about">About</a></p>
          <p><a href="/contact">Contact</a></p>
          <p><a href="/feedback">Feedback</a></p>
  			</ul>
  		</div>
    </div>
    <hr>


<div class="footer-bottom"><a href="/game">Copyright &copy; Jitz 2016</a></div>

</footer>

</body>
</html>
