
<div id="wrapper">
  <div class="col-md-3"><a href="/hot"><input type="image" src="/images/hot.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">Hot Drinks</p></a></div>
  <div class="col-md-3"><a href="/cold"><input type="image" src="/images/cold.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">Cold Drinks</p></a></div>
  <div class="col-md-3"><a href="/food"><input type="image" src="/images/food.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">Food</p></a></div>
  <div class="col-md-3"><a href="/all"><input type="image" src="/images/swirl.jpg" name="saveForm" class="btTxt submit" id="menuCircles" /><p class="circleText">All Items</p></a></div>
</div>
<div class="space"><p></p><br><br></div>
