{{> header }}

<title>About</title>

  <p><div class="aboutText">
    Jitz is dedicated to bringing you the best coffees available to us.  We roast in house to guarantee freshness and quality of product, and buy responsibly to ensure sustainability of product and farmers.  We also love featuring  some fantastic coffees from roasters all over the U.S.  Some of those include
  </div></p>

  <div class="indented">
    <div class="indented"><a href="http://www.casabrasilcoffee.com/">Casa Brasil - Austin, TX
    </a></div>

    <div class="indented"><a href="http://www.onyxcoffeelab.com/">Onyx Coffee Lab - Fayetteville, AK
    </a></div>

    <div class="indented"><a href="https://www.corvuscoffee.com/">Corvus Coffee - Denver, Co
    </a></div>

    <div class="indented"><a href="http://compellingandrichcoffee.com/">Compelling and Rich Coffee - Los Angeles, CA
    </a></div>
  </div>

  {{> footer }}
