{{> header }}

<title>Gallery</title>


<div class="whiteText">
<h1>Photo Gallery</h1>


<!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/code/214906" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</div>
{{> footer }}
