{{> header }}

          </div>
      </nav>
    </div>
    <div class="container">
      <div class="homeText">
        <div class="homeTitle">
            JITZ
        </div>
        123 N Main St, Mission, TX 78572
      </div>

</div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    {{> footer }}
